<%# add navigation links to this file %>
<li><%= link_to 'Courses', courses_path %></li>
<li><%= link_to 'Topics', topics_path %></li>
<li><%= link_to 'Problems', problems_path %></li>
<li><%= link_to 'About', page_path('about') %></li>
